@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body {
    background: #FFFFFF;
    color: #3D3438;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #090708;
		color: #ffffff;
	}
}

header {
    padding: 1rem 0;
}

.site-header {
    font-weight: 700;
    font-size: 2.25rem;
    /* margin: 1rem 0; */
}

.site-description {
    padding: 2rem 0;
}

.site-sub-head {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-width {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

.divider-bottom {
    position: relative;
}

.divider-bottom::after {
    background: linear-gradient(90deg, #E26DEC, #E59364) no-repeat;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    padding: 2rem 0;
}

.project-list-item {
    display: flex;
    padding: 2rem 0;
    border-bottom: solid 1px #C4C4C4;
}

.project-list-item-thumbnail {
    width: 25%;
    height: auto;
    align-self: center;
    min-width: 150px;
    flex-basis: 25%;
    display: block;
}

.project-list-item-text-wrap {
    padding-left: 1rem;
    flex-basis: 75%;
}

.project-list-item-date {
    font-weight: 700;
    font-size: 0.75rem;
}

.project-list-item-title {
    margin-top: 1rem;
    font-size: 1.25rem;
    max-width: 30em;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a, a {
    color: inherit;
}

footer {
    padding: 1em 0;
}
